body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  border-bottom: 0.5px solid DimGray;
  padding-left: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
}

a {
  display: inline-block;
  padding: 1em 0.5em 0.5em;
  color: #507f1e;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #5a9021;
  text-decoration: underline;
}

#app h1 {
  margin-left: 1em;
}
